 <%= form_for @url, remote: true, html: { style: "display:inline;" } do |f| %>

        <h2 class="error"></h2>
        <h2 id="errors"></h2>

        <div class="form-group">
          <%= f.label :target, class:"control-label" %>
          <%= f.text_field :target, class: "form-control" %>
        </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
