<div class="container cont-header">
  <nav class="navbar navbar-default navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> &nbsp; </li>
        <li><a href="#">About </a></li>
        <li><a href="https://github.com/andela-oosiname/chopp" target="blank">Github Page</a></li>
        <%= dashboard %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <%= session_button %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
