@import "application";

.container-box {
  background-color: #fff;
  border: 1px solid #e3e6e7;
  height: auto;
  margin: 50px auto;
  width: 400px;
  border-radius: 4px;
  padding: 50px 50px 50px 50px;
}

.user-btn {
  background-color: #EE6123;
  border-color: #EE6123;
  color: #fff;
  height: 45px;
  margin-top: 20px;
  width: 100%;
}

.user-input {
  height: 45px !important;
}

.error {
  color: $google-red;
  font-size: 1em;
}
